<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theus.health.base.mapper.system.SysAreaMapper">

    <select id="findTree" resultType="com.theus.health.base.model.po.system.SysArea">
        select a.*, (select b.name from sys_area b where b.id = a.parent_id) parentName,
        (SELECT c.name FROM sys_organ c WHERE c.[id]=a.organ_id) organName,
        (SELECT c.item_name FROM sys_dict c WHERE c.class_code='1006001' AND c.item_value=a.type) typeName,
        (SELECT c.item_name FROM sys_dict c WHERE c.class_code='1006002' AND c.item_value=a.provinces_type) typeName
        from sys_area a
        WHERE 1=1
        <if test="area.id != null and area.id != '' ">
            and a.id = #{area.id}
        </if>
        <if test="area.name != null and area.name != '' ">
            and (a.name like '%'+#{area.name}+'%'
            or a.simple_wubi like '%'+#{area.name}+'%'
            or a.simple_spelling like '%'+#{area.name}+'%')
        </if>
    </select>
</mapper>