<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theus.health.base.mapper.system.SysOrganMapper">

    <select id="list" resultType="com.theus.health.base.model.po.system.SysOrgan">
        select a.*, (select b.name from sys_organ b where b.id = a.parent_id) parentName,
            (SELECT c.item_name FROM sys_dict c WHERE c.class_code='1001001' AND c.item_value=a.level_code) levelName,
            (SELECT c.item_name FROM sys_dict c WHERE c.class_code='1001002' AND c.item_value=a.classification_code) classificationName
        from sys_organ a
        WHERE 1=1
        <if test="organ.name != null and organ.name != '' ">
            and (a.name like '%'+#{organ.name}+'%'
                   or a.short_name like '%'+#{organ.name}+'%'
                   or a.simple_spelling like '%'+#{organ.name}+'%')
        </if>
    </select>

    <select id="all" resultType="com.theus.health.base.model.po.system.SysOrgan">
        select a.*, (select b.name from sys_organ b where b.id = a.parent_id) parentName,
        (SELECT c.item_name FROM sys_dict c WHERE c.class_code='1001001' AND c.item_value=a.level_code) levelName,
        (SELECT c.item_name FROM sys_dict c WHERE c.class_code='1001002' AND c.item_value=a.classification_code) classificationName
        from sys_organ a
        order by id
    </select>
</mapper>