<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theus.health.base.mapper.system.SysUserMapper">

    <select id="findPage" resultType="com.theus.health.base.model.po.system.SysUser">
        select u.*, (select d.name from sys_dept d where d.id = u.dept_id) deptName
        from sys_user u
        WHERE 1=1
        <if test="user.name != null and user.name != '' ">
            and u.name like '%'+#{user.name}+'%'
        </if>
    </select>

</mapper>